:root {
  --bg-color: #1e2124;
  --secondary-color: #7289da;
  --btn-bg-color: #e7e7e7;
  --btn-border-color: rgba(114, 137, 218, 0.8);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
}

.message {
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
}

.hidden {
  display: none;
}

.btn {
  background-color: var(--btn-bg-color);
  border: 2px solid #000;
  color: #000;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: .4s;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 4px;
  width: 250px;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  opacity: 0.8;
  background-color: var(--secondary-color);
  color: var(--bg-color);
  border: 2px solid var(--btn-border-color);
  outline: none;
}

.modal-body {
  background-color: var(--btn-bg-color);
}

.modal-body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-body p:last-child {
  text-transform: capitalize;
}

.modal-title {
  text-transform: uppercase;
}
