:root {
  --bg-color: #1e2124;
  --text-color: #7289da;
  --btn-bg-color: #36393e;
  --btn-border-color: rgba(114, 137, 218, 0.8);
  --font-size-small: 18px;
  --font-size-big: 40px;
  --font-weight-small: 400;
  --font-weight-big: 700;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-small);
}

h1 {
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-big);
}

.box {
  max-width: 600px;
  padding: 5px;
  border: 2px solid var(--text-color);
}

ul {
  list-style-type: none;
}

.button-class {
  border: none;
  font-family: inherit;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-big);
  background-color: var(--btn-bg-color);
  color: var(--text-color);
  text-decoration: none;
  padding: 16px 32px;
  margin: 4px 2px;
  border-radius: 3px;
  border-bottom: 2px solid var(--btn-border-color);
  position: relative;
}

.button-class:hover,
.button-class:focus {
  cursor: pointer;
  opacity: 0.8;
  background-color: var(--text-color);
  color: var(--bg-color);
  border: 2px solid var(--btn-border-color);
  outline: none;
}

.button-class:active {
  top: 2px;
}

.button-class::first-letter {
  text-transform: capitalize;
}